.wow {
  width: 100px;
}

.wrapper{
   
  display: grid;
  grid-template-rows: repeat(3,30vh);
  grid-template-areas: "h b b b"
                        "h a a a"
                        "h a a a";
  gap:10px;
}
.column1{ grid-area:h;
        background-color: green;
        transition: background-color 500ms ease-in 200ms;}
.column2{ grid-area:b;
        background-color: blueviolet;}
.column3{ grid-area:a;
        background-color: indianred;}

